html
{
	// This rule was previously part of the body ruleset in Theme.less but that broke the validation rule about not including media queries in Resets of Themes sheets,
	// since they should only be used for layout (which does not belong in Resets or Themes). In this case, it was more about using a larger font size on mobile devices
	// to appease Google's "Mobile Friendly" analysis and so arguably it IS part of the theme of the site.. but the rule about not having media queries in Resets or
    // Themes sheets is otherwise a good one, so we'll rely on a workaround - we can't target "body" in a non-Resets-or-Themes sheet since it's too vague, but we
    // CAN target "> body" since that is much more specific.
	> body {
		@media screen and (max-width: 35em) { font-size: 20px; }
	}

	div.Header
	{
		margin: 0 auto 16px auto;
		width: 1030px;
		position: relative;
		left: -19px;
		@media screen and (max-width: 70em)
		{
			margin: 0 0 16px 0;
			width: 100%;
			min-width: 250px;
			left: 0;
		}
	}

	div.WrapperOuter
	{
		margin: 0 auto;
		width: 1014px;
		@media screen and (max-width: 70em)
		{
			width: 100%;
			min-width: 250px;
		}

		div.Wrapper
		{
			float: left;
			width: 100%;
			@media screen and (max-width: 70em) { float: none; }

			div.Main
			{
				float: left;
				&.HasSideBar { width: 834px; }
				@media screen and (max-width: 70em)
				{
					float: none;
					&.HasSideBar { width: 100%; }
				}

				p.SearchResultContent, p.NoResults { min-width: 764px; }

				p.SearchResultContent > strong { color: #121212; } // Undo the softening of bold for main content when highlighted search term matches
			}

			div.SideBar
			{
				float: right;
				clear: right;
				position: relative;
				left: -40px;
				width: 173px;
				@media screen and (max-width: 70em)
				{
					clear: both;
					float: none;
					left: 0;
					width: 100%;
					min-width: 250px;
				}
			}
		}
	}

	@media screen and (max-width: 70em)
	{
		div.Footer { display: none; }
	}
}
